/* @media screen and (max-width: 768px) {
  div {
    width: 700px;
  }
}

@media screen and (max-width: 414px) {
  div {
    width: 400px;
  }
} */
.bady {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
}

.b1 {
  width: 100%;
  flex: 0 0 auto;
}

.b2 {
  width: 100%;
  flex: 0 0 auto;
}

.b3 {
  align-self: center;
  flex: 1 0 auto;
}

.b4 {
  width: 100%;
  padding-bottom: 10px;
  flex: 0 0 auto;
}
