@import url("https://fonts.googleapis.com/css?family=Caveat&display=swap");
.card {
  width: 304px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-bottom: 80px;
  justify-content: center;
}

.card img {
  width: 304px;
  height: auto;
  border-radius: 5px;
}
.text {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Caveat;
  font-size: 24px;
  text-decoration: none;
  color: black;
  text-align: center;
}

.rub {
  margin-top: 15px;
  font-family: Caveat;
  font-size: 30px;
  color: black;
  align-self: flex-end;
}

& > * {
  flex: 1 1 100%;
}
