@import url("https://fonts.googleapis.com/css?family=Caveat&display=swap");
.b3 {
  display: flex;
  align-items: center;
}
.cont {
  align-self: center;
}

.cont-img {
  width: 528px;
  height: auto;
}

.cont-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cont-flex-item {
  margin: 10px;
  align-self: center;
}

.cont-text {
  max-width: 528px;
  font-family: Caveat;
  font-size: 28px;
  text-decoration: none;
  color: black;
  text-align: justify;
}

.center {
  text-align: center;
  font-size: 24px;
}

.num {
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  font-size: 16px;
}
