@import url("https://fonts.googleapis.com/css?family=Caveat&display=swap");
.card-ul {
  padding-left: 10;
}

.card-li {
  margin: 0;
  list-style: disc;
  font-family: Caveat;
  font-size: 22px;
  text-decoration: none;
  color: black;
}
