@import url("https://fonts.googleapis.com/css?family=Caveat&display=swap");
.flex-container {
  width: 100%;
  padding: 0;
  margin: 0 -5px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: auto;
  margin-top: 40px;
}

.flex-item {
  width: 192px;
  height: 60px;
  margin: 0 5px;
  color: black;
  font-size: 28px;
  text-align: center;
}

.flex-item a {
  font-family: Caveat;
  font-size: 28px;
  text-decoration: none;
  color: black;
}

.active {
  border-bottom: 6px double black;
}

.flex-item a:hover {
  border-bottom: 6px double black;
  cursor: pointer;
}
